<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-historiques-heading" jhiTranslate="sTrackingApp.historiques.home.createOrEditLabel">Create or edit a Historiques</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!historiques.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="historiques.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sTrackingApp.historiques.dateHistorique" for="field_dateHistorique">Date Historique</label>
                    <div class="d-flex">
                        <input id="field_dateHistorique" type="datetime-local" class="form-control" name="dateHistorique" [(ngModel)]="dateHistorique"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sTrackingApp.historiques.longitude" for="field_longitude">Longitude</label>
                    <input type="number" class="form-control" name="longitude" id="field_longitude"
                        [(ngModel)]="historiques.longitude" required/>
                    <div [hidden]="!(editForm.controls.longitude?.dirty && editForm.controls.longitude?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.longitude?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.longitude?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sTrackingApp.historiques.latitude" for="field_latitude">Latitude</label>
                    <input type="number" class="form-control" name="latitude" id="field_latitude"
                        [(ngModel)]="historiques.latitude" required/>
                    <div [hidden]="!(editForm.controls.latitude?.dirty && editForm.controls.latitude?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.latitude?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.latitude?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sTrackingApp.historiques.devices" for="field_devices">Devices</label>
                    <select class="form-control" id="field_devices" name="devices" [(ngModel)]="historiques.devices" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="devicesOption.id === historiques.devices?.id ? historiques.devices : devicesOption" *ngFor="let devicesOption of devices; trackBy: trackDevicesById">{{devicesOption.numeroSim}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
